* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 위에 메뉴 */
.nav {
    width: 100%;
    position: absolute;
    top: 1px;
    left: 0.3%;
}

.nav-item {
    float: left;
    margin-left: 20px;
}

.nav-container {
    list-style-type: none;
    margin-top: 0.7px;
}

.hiper {
    color: black;
    font-size: 1.1em;
    text-decoration: none;
}

.info {
    position: absolute;
    top: 2px;
    right: 2%;
}

.header > h1 {
    position: absolute;
    top: 65px;
    right: 1%;
    font-size: 5em;
}

.header > p {
    position: absolute;
    width: 266.8px;
    top: 130px;
    right: 220px;
    font-weight: bold;
}

/* 베스트 셀러 글자 */
.best {
    position: absolute;
    top: 110px;
    left: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}

.best > h1 {
    margin-bottom: 14px;
}

/* 베스트 셀러 보여주는 창 */
.show-book {
    border-top: 1px solid black;
    height: 400px;
    border-radius: 5px;
}

/* 카테고리 네브 */
.detail-nav-container {
    list-style-type: none;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;

}

.detail-hiper {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

.detail-nav-item {
    float: left;
    margin-right: 150px;
}

.detail-nav {
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 567px;
    height: 50px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid black;
}

.last {
    margin-right: 0;
    border: none;
}

/* iframe */
.second-display-content {
    width: 100%;
    height: 100%;
    border: none;
}

.second-display {
    position: absolute;
    top: 617px;
    width: 98%;
    height: 1500px;
    margin-left: 1%;
    margin-right: 1%;
}